services:
  telegram-bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smartsociallinkbot_telegram
    env_file:
      - ./config/.env
    volumes:
      - ./config:/app/config:ro
    depends_on:
      - mongodb
    restart: always

  mongodb:
    image: mongo:6.0
    container_name: telegram_bot_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
